<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.bootdo.ecosys.dao.ElectricDao">

	<select id="get" resultType="com.bootdo.ecosys.domain.ElectricDO">
		select `equipment_id`,`equipment_power`,`equipment_name`,`equipment_code`,`enterprise_id`,`phase_number`,`number`,`is_or_not_through`,`install_position`,`equipment_use`,`product_id`,`protection_person`,`phone_number`,`equipment_type`,`surveyted_person_name`,`surveyted_person_position`,`full_form_time`,`survey_person_name`,`create_time`,`create_user_name`,`create_by`,`modify_time`,`modify_user_name`,`modify_by`,`delete_flag`,`administrative_division`,`urbanorrural`,`country` from eco_electric where equipment_id = #{value}
	</select>
	<select id="getData" resultType="com.bootdo.ecosys.domain.ElectricDO">
		SELECT
		*
		FROM
		eco_electric
		WHERE
		delete_flag ='0'
		and	enterprise_id = #{value}
		ORDER BY create_time desc
		LIMIT 1
	</select>

	<select id="list" resultType="com.bootdo.ecosys.domain.ElectricDO">
		select `equipment_id`,`equipment_power`,`equipment_name`,`equipment_code`,`enterprise_id`,`phase_number`,`number`,`is_or_not_through`,`install_position`,`equipment_use`,`product_id`,`protection_person`,`phone_number`,`equipment_type`,`surveyted_person_name`,`surveyted_person_position`,`full_form_time`,`survey_person_name`,`create_time`,`create_user_name`,`create_by`,`modify_time`,`modify_user_name`,`modify_by`,`delete_flag`,`administrative_division`,`urbanorrural`,`country` from eco_electric
        <where>
			delete_flag = '0'
		  		  <if test="equipmentId != null and equipmentId != ''"> and equipment_id = #{equipmentId} </if>
		  		  <if test="equipmentName != null and equipmentName != ''"> and equipment_name = #{equipmentName} </if>
		  		  <if test="equipmentCode != null and equipmentCode != ''"> and equipment_code = #{equipmentCode} </if>
		  		  <if test="enterpriseId != null and enterpriseId != ''"> and enterprise_id = #{enterpriseId} </if>
		  		  <if test="phaseNumber != null and phaseNumber != ''"> and phase_number = #{phaseNumber} </if>
		  		  <if test="number != null and number != ''"> and number = #{number} </if>
		  		  <if test="isOrNotThrough != null and isOrNotThrough != ''"> and is_or_not_through = #{isOrNotThrough} </if>
		  		  <if test="installPosition != null and installPosition != ''"> and install_position = #{installPosition} </if>
		  		  <if test="equipmentUse != null and equipmentUse != ''"> and equipment_use = #{equipmentUse} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="protectionPerson != null and protectionPerson != ''"> and protection_person = #{protectionPerson} </if>
		  		  <if test="phoneNumber != null and phoneNumber != ''"> and phone_number = #{phoneNumber} </if>
		  		  <if test="equipmentType != null and equipmentType != ''"> and equipment_type = #{equipmentType} </if>
		  		  <if test="surveytedPersonName != null and surveytedPersonName != ''"> and surveyted_person_name = #{surveytedPersonName} </if>
		  		  <if test="surveytedPersonPosition != null and surveytedPersonPosition != ''"> and surveyted_person_position = #{surveytedPersonPosition} </if>
		  		  <if test="fullFormTime != null and fullFormTime != ''"> and full_form_time = #{fullFormTime} </if>
		  		  <if test="surveyPersonName != null and surveyPersonName != ''"> and survey_person_name = #{surveyPersonName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUserName != null and createUserName != ''"> and create_user_name = #{createUserName} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="modifyUserName != null and modifyUserName != ''"> and modify_user_name = #{modifyUserName} </if>
		  		  <if test="modifyBy != null and modifyBy != ''"> and modify_by = #{modifyBy} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		  <if test="administrativeDivision != null and administrativeDivision != ''"> and administrative_division = #{administrativeDivision} </if>
		  		  <if test="urbanorrural != null and urbanorrural != ''"> and urbanorrural = #{urbanorrural} </if>
				  <if test="country != null and country != ''"> and country = #{country} </if>
		  		</where>
        <choose>
            <when test="sort != null and sort.trim() != ''">
                order by ${sort} ${order}
            </when>
			<otherwise>
                order by equipment_id desc
			</otherwise>
        </choose>
		<if test="offset != null and limit != null">
			limit #{offset}, #{limit}
		</if>
	</select>
	
 	<select id="count" resultType="int">
		select count(*) from eco_electric
		 <where>
			 delete_flag = '0'
		  		  <if test="equipmentId != null and equipmentId != ''"> and equipment_id = #{equipmentId} </if>
		  		  <if test="equipmentName != null and equipmentName != ''"> and equipment_name = #{equipmentName} </if>
		  		  <if test="equipmentCode != null and equipmentCode != ''"> and equipment_code = #{equipmentCode} </if>
		  		  <if test="enterpriseId != null and enterpriseId != ''"> and enterprise_id = #{enterpriseId} </if>
		  		  <if test="phaseNumber != null and phaseNumber != ''"> and phase_number = #{phaseNumber} </if>
		  		  <if test="number != null and number != ''"> and number = #{number} </if>
		  		  <if test="isOrNotThrough != null and isOrNotThrough != ''"> and is_or_not_through = #{isOrNotThrough} </if>
		  		  <if test="installPosition != null and installPosition != ''"> and install_position = #{installPosition} </if>
		  		  <if test="equipmentUse != null and equipmentUse != ''"> and equipment_use = #{equipmentUse} </if>
		  		  <if test="productId != null and productId != ''"> and product_id = #{productId} </if>
		  		  <if test="protectionPerson != null and protectionPerson != ''"> and protection_person = #{protectionPerson} </if>
		  		  <if test="phoneNumber != null and phoneNumber != ''"> and phone_number = #{phoneNumber} </if>
		  		  <if test="equipmentType != null and equipmentType != ''"> and equipment_type = #{equipmentType} </if>
		  		  <if test="surveytedPersonName != null and surveytedPersonName != ''"> and surveyted_person_name = #{surveytedPersonName} </if>
		  		  <if test="surveytedPersonPosition != null and surveytedPersonPosition != ''"> and surveyted_person_position = #{surveytedPersonPosition} </if>
		  		  <if test="fullFormTime != null and fullFormTime != ''"> and full_form_time = #{fullFormTime} </if>
		  		  <if test="surveyPersonName != null and surveyPersonName != ''"> and survey_person_name = #{surveyPersonName} </if>
		  		  <if test="createTime != null and createTime != ''"> and create_time = #{createTime} </if>
		  		  <if test="createUserName != null and createUserName != ''"> and create_user_name = #{createUserName} </if>
		  		  <if test="createBy != null and createBy != ''"> and create_by = #{createBy} </if>
		  		  <if test="modifyTime != null and modifyTime != ''"> and modify_time = #{modifyTime} </if>
		  		  <if test="modifyUserName != null and modifyUserName != ''"> and modify_user_name = #{modifyUserName} </if>
		  		  <if test="modifyBy != null and modifyBy != ''"> and modify_by = #{modifyBy} </if>
		  		  <if test="deleteFlag != null and deleteFlag != ''"> and delete_flag = #{deleteFlag} </if>
		  		  <if test="administrativeDivision != null and administrativeDivision != ''"> and administrative_division = #{administrativeDivision} </if>
		  		  <if test="urbanorrural != null and urbanorrural != ''"> and urbanorrural = #{urbanorrural} </if>
			 	  <if test="country != null and country != ''"> and country = #{country} </if>
		  		</where>
	</select>
	 
	<insert id="save" parameterType="com.bootdo.ecosys.domain.ElectricDO">
		insert into eco_electric
		(
			`equipment_id`, 
			`equipment_name`,
			`equipment_power`,
			`equipment_code`, 
			`enterprise_id`, 
			`phase_number`, 
			`number`, 
			`is_or_not_through`, 
			`install_position`, 
			`equipment_use`, 
			`product_id`, 
			`protection_person`, 
			`phone_number`, 
			`equipment_type`, 
			`surveyted_person_name`, 
			`surveyted_person_position`, 
			`full_form_time`, 
			`survey_person_name`, 
			`create_time`, 
			`create_user_name`, 
			`create_by`, 
			`modify_time`, 
			`modify_user_name`, 
			`modify_by`, 
			`delete_flag`, 
			`administrative_division`, 
			`urbanorrural`,
			`country`
		)
		values
		(
			#{equipmentId}, 
			#{equipmentName},
			#{equipmentPower},
			#{equipmentCode}, 
			#{enterpriseId}, 
			#{phaseNumber}, 
			#{number}, 
			#{isOrNotThrough}, 
			#{installPosition}, 
			#{equipmentUse}, 
			#{productId}, 
			#{protectionPerson}, 
			#{phoneNumber}, 
			#{equipmentType}, 
			#{surveytedPersonName}, 
			#{surveytedPersonPosition}, 
			#{fullFormTime}, 
			#{surveyPersonName}, 
			CURRENT_TIMESTAMP(),
			#{createUserName}, 
			#{createBy}, 
			CURRENT_TIMESTAMP(),
			#{modifyUserName}, 
			#{modifyBy}, 
			'0',
			#{administrativeDivision}, 
			#{urbanorrural},
			#{country}
		)
	</insert>
	 
	<update id="update" parameterType="com.bootdo.ecosys.domain.ElectricDO">
		update eco_electric 
		<set>
			<if test="equipmentName != null">`equipment_name` = #{equipmentName}, </if>
			<if test="equipmentPower != null">`equipment_power` = #{equipmentPower}, </if>
			<if test="equipmentCode != null">`equipment_code` = #{equipmentCode}, </if>
			<if test="enterpriseId != null">`enterprise_id` = #{enterpriseId}, </if>
			<if test="phaseNumber != null">`phase_number` = #{phaseNumber}, </if>
			<if test="number != null">`number` = #{number}, </if>
			<if test="isOrNotThrough != null">`is_or_not_through` = #{isOrNotThrough}, </if>
			<if test="installPosition != null">`install_position` = #{installPosition}, </if>
			<if test="equipmentUse != null">`equipment_use` = #{equipmentUse}, </if>
			<if test="productId != null">`product_id` = #{productId}, </if>
			<if test="protectionPerson != null">`protection_person` = #{protectionPerson}, </if>
			<if test="phoneNumber != null">`phone_number` = #{phoneNumber}, </if>
			<if test="equipmentType != null">`equipment_type` = #{equipmentType}, </if>
			<if test="surveytedPersonName != null">`surveyted_person_name` = #{surveytedPersonName}, </if>
			<if test="surveytedPersonPosition != null">`surveyted_person_position` = #{surveytedPersonPosition}, </if>
			<if test="fullFormTime != null">`full_form_time` = #{fullFormTime}, </if>
			<if test="surveyPersonName != null">`survey_person_name` = #{surveyPersonName}, </if>
			<if test="createTime != null">`create_time` = #{createTime}, </if>
			<if test="createUserName != null">`create_user_name` = #{createUserName}, </if>
			<if test="createBy != null">`create_by` = #{createBy}, </if>
			<if test="modifyTime != null">`modify_time` = CURRENT_TIMESTAMP(), </if>
			<if test="modifyUserName != null">`modify_user_name` = #{modifyUserName}, </if>
			<if test="modifyBy != null">`modify_by` = #{modifyBy}, </if>
			<if test="deleteFlag != null">`delete_flag` = #{deleteFlag}, </if>
			<if test="administrativeDivision != null">`administrative_division` = #{administrativeDivision}, </if>
			<if test="urbanorrural != null">`urbanorrural` = #{urbanorrural},</if>
			<if test="country != null">`country` = #{country}</if>
		</set>
		where equipment_id = #{equipmentId}
	</update>
	
	<update id="remove">
		update eco_electric
		set delete_flag = '1',
		 modify_time = CURRENT_TIMESTAMP()
		 where equipment_id = #{value}
	</update>
	
	<update id="batchRemove">
		update eco_electric
		set delete_flag = '1',
		modify_time = CURRENT_TIMESTAMP()
		where equipment_id in
		<foreach item="equipmentId" collection="array" open="(" separator="," close=")">
			#{equipmentId}
		</foreach>
	</update>

</mapper>