<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="equipmentId" name="equipmentId" th:value="${ecoequipment.equipmentId}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">所属企业：</label>
								<div class="col-sm-8">
									<input id="enterpriseName" name="enterpriseName" th:value="${ecoequipment.enterpriseName}" class="form-control" type="text" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">生产设施名称：</label>
								<div class="col-sm-8">
									<input id="equipmentName" name="equipmentName" th:value="${ecoequipment.equipmentName}" class="form-control" type="text">
								</div>
							</div>
							<!--<div class="form-group">
								<label class="col-sm-3 control-label">设备编码：</label>
								<div class="col-sm-8">
									<input id="equipmentCode" name="equipmentCode" th:value="${ecoequipment.equipmentCode}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">企业id：</label>
								<div class="col-sm-8">
									<input id="enterpriseId" name="enterpriseId" th:value="${ecoequipment.enterpriseId}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">产品id：</label>
								<div class="col-sm-8">
									<input id="productId" name="productId" th:value="${ecoequipment.productId}" class="form-control" type="text">
								</div>
							</div>-->
							<div class="form-group">
								<label class="col-sm-3 control-label">设备负责人：</label>
								<div class="col-sm-8">
									<input id="protectionPerson" name="protectionPerson" th:value="${ecoequipment.protectionPerson}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input id="phoneNumber" name="phoneNumber" th:value="${ecoequipment.phoneNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">设备类型：</label>
								<div class="col-sm-8">
									<input id="equipmentType" name="equipmentType" th:value="${ecoequipment.equipmentType}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">对应产污环节名称：</label>
								<div class="col-sm-8">
									<input id="pollutionName" name="pollutionName" th:value="${ecoequipment.pollutionName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">污染物种类：</label>
								<div class="col-sm-8">
									<input id="pollutionType" name="pollutionType" th:value="${ecoequipment.pollutionType}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">排放方式：</label>
								<div class="col-sm-8">
									<input id="emissionWay" name="emissionWay" th:value="${ecoequipment.emissionWay}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">安装时间：</label>
								<div class="col-sm-8">
									<input id="installTime" name="installTime" th:value="${#dates.format(ecoequipment.installTime,'yyyy-MM-dd')}" class="form-control" type="text" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">监测时间：</label>
								<div class="col-sm-8">
									<input id="monitTime" name="monitTime" th:value="${#dates.format(ecoequipment.monitTime,'yyyy-MM-dd')}" class="form-control" type="text" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">维护周期：</label>
								<div class="col-sm-8">
									<input id="maintenanceCycle" name="maintenanceCycle" th:value="${ecoequipment.maintenanceCycle}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">易损耗材：</label>
								<div class="col-sm-8">
									<input id="lossMaterial" name="lossMaterial" th:value="${ecoequipment.lossMaterial}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人姓名：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonName" name="surveytedPersonName" th:value="${ecoequipment.surveytedPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人姓名：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonPosition" name="surveytedPersonPosition" th:value="${ecoequipment.surveytedPersonPosition}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">填表日期：</label>
								<div class="col-sm-8">
									<input id="fullFormTime" name="fullFormTime" th:value="${#dates.format(ecoequipment.fullFormTime,'yyyy-MM-dd')}" class="form-control" type="text" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">调查人：</label>
								<div class="col-sm-8">
									<input id="surveyPersonName" name="surveyPersonName" th:value="${ecoequipment.surveyPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">行政区划：</label>
								<div class="col-sm-8">
									<input id="administrativeDivision" name="administrativeDivision" th:value="${ecoequipment.administrativeDivision}" class="form-control" type="hidden">
									<input id="administrativeDivisionName" name="administrativeDivision" th:value="${ecoequipment.administrativeDivisionName}" class="form-control" type="text" readonly>
									<input id="country" name="country" th:value="${ecoequipment.country}" class="form-control" type="hidden">
									<input id="countryName" name="countryName" th:value="${ecoequipment.countryName}" class="form-control" type="text" readonly style="margin-top: 15px">
								</div>
							</div>
							<!--<div class="form-group">
								<label class="col-sm-3 control-label">城乡分类：</label>
								<div class="col-sm-8">
									<input id="urbanorrural" name="urbanorrural" th:value="${ecoequipment.urbanorrural}" class="form-control" type="text">
								</div>
							</div>-->
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ecosys/ecoequipment/edit.js">
	</script>
</body>
</html>
