
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>用电设施调查表</title>
    <style type="text/css">
        body,td,th {
            font-size: 16PX;
            color: #000;
        }
        p{
            margin-top: 9px;
        }
    </style>
</head>
<head th:include="include :: header"></head>
<body>
<br/>
<center >

    <div id="print">
        <h3 align="center">用电设施调查表</h3>
        <!-- <input id="id" name="id" th:value="${paResult.id}"  type="hidden"> -->
        <table cellpadding="0" cellspacing="0" border="1"  >
            <tr>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">被调查人姓名</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${electric.surveytedPersonName}"></p>
                </td>
                <td width="120"colspan="2" align="center">
                    <p style ="padding-top: 9px;">被调查人职务</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${electric.surveytedPersonPosition}"></p>
                </td>

                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">填表日期</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${#dates.format(electric.fullFormTime,'yyyy-MM-dd')}"></p>
                </td>
                <td width="120"colspan="2" align="center">
                    <p style ="padding-top: 9px;">调查人</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${electric.surveyPersonName}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">序号</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >用电设备名称</p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">设备用途</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >用电设备功率Kw</p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">相数</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >台数</p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">安装位置</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >电缆是否穿管</p>
                </td>

            </tr>
            <tr th:each="ElectricDO,userStat:${electricList}">
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px; "th:text="${userStat.count}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${ElectricDO.equipmentName}" ></p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${ElectricDO.equipmentUse}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${ElectricDO.equipmentPower}"></p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${ElectricDO.phaseNumber}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${ElectricDO.number}" ></p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${ElectricDO.installPosition}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${ElectricDO.isOrNotThrough==0}?'否':'是'"></p>
                </td>

            </tr>





        </table>
        <h6 id="showDate" align="left"></h6>
    </div>
</center>
</body>
</head>
</html>
