<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>企业基本信息</title>
    <style type="text/css">
        body,td,th {
            font-size: 16PX;
            color: #000;
        }
        p{
            margin-top: 9px;
        }
    </style>
</head>
<head th:include="include :: header"></head>
<body>
<br/>
<center >

    <div id="print">
        <h3 align="center">企业基本信息</h3>
        <!-- <input id="id" name="id" th:value="${paResult.id}"  type="hidden"> -->
        <table cellpadding="0" cellspacing="0" border="1"  >
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">被调查人姓名</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.surveytedPersonName}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">被调查人职务</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.surveytedPersonPosition}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">社会信用编码</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.socialCreditCode}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">调查人</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.surveyPersonName}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">企业名称</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.enterpriseName}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">填表日期</p>
                </td>
                <td colspan="4" width="140" align="center">
                    <p style ="padding-top: 9px;" th:text="${#dates.format(enterprise.fullFormTime,'yyyy-MM-dd')}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="71" align="center">
                    <p style ="padding-top: 9px;">注册地址</p>
                </td>
                <td  colspan="7"width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.registeredAddress}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="28" width="120" align="center" >
                    <p style ="margin-top: 9px;" >位置坐标</p>
                </td>
                <td width="120" height="28" align="center">
                    <p style ="margin-top: 9px;" th:text="${enterprise.coordinates}"></p>
                </td>
                <td width="120" height="28" align="center">
                    <p style ="padding-top: 9px;">企业规模</p>
                </td>
                <td  width="120"  height="28" align="center">
                    <p style ="margin-top: 9px;" th:text="${enterprise.enterpriseNatureCode}"></p>
                </td>
                <td colspan="2"   height="28" width="120" align="center">
                    <p style ="margin-top: 9px;">员工数(人)</p>
                </td>
                <td width="120 "  height="28" align="center">
                    <p style ="margin-top: 9px;" th:text="${enterprise.employeeNum}"></p>
                </td>

            </tr>
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">注册时间</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${#dates.format(enterprise.registeredTime,'yyyy-MM-dd')}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">注册资金(万元)</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.registeredFund}">万元</p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="71" align="center">
                    <p style ="padding-top: 9px;">企业性质</p>
                </td>
                <td  colspan="7"width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.enterpriseNatureCode}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">企业法人</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.enterpriseLegalPerson}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">联系电话</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.legalPersonPhoneNumber}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">环保负责人</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.environmentalProtectionPerson}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">联系电话</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.enPersonPhoneNumber}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">安全生产负责人</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.safeProdectPerson}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">联系电话</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.safePerPhoneNumber}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="71" align="center">
                    <p style ="padding-top: 9px;">经营范围<br/>(营业执照)</p>
                </td>
                <td  colspan="7"width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.businessScope}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="3" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">经营面积(㎡)</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.businessArea}"></p>
                </td>
                <td width="120" align="center">
                    <p style ="padding-top: 9px;">经营场所取得</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.businessAreaNatureCode==021}?'租赁':'自由'"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="71" align="center">
                    <p style ="padding-top: 9px;">部门设置</p>
                </td>
                <td  colspan="7"width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.dept}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="71" align="center">
                    <p style ="padding-top: 9px;">纳税人性质</p>
                </td>
                <td  colspan="7"width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.taxpayerCode}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" width="71" align="center">
                    <p style ="padding-top: 9px;">互联网营销</p>
                </td>
                <td  colspan="7"width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${enterprise.marketCode}"></p>
                </td>
            </tr>

        </table>
        <h6 id="showDate" align="left"></h6>
    </div>
</center>
</body>
</head>
<body>
</body>
</html>
