
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>消防设备调查表</title>
    <style type="text/css">
        body,td,th {
            font-size: 16PX;
            color: #000;
        }
        p{
            margin-top: 9px;
        }
    </style>
</head>
<head th:include="include :: header"></head>
<body>
<br/>
<center >

    <div id="print">
        <h3 align="center">消防设备调查表</h3>
        <!-- <input id="id" name="id" th:value="${paResult.id}"  type="hidden"> -->
        <table cellpadding="0" cellspacing="0" border="1"  >
            <tr>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">被调查人姓名</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${firedevice.surveytedPersonName}"></p>
                </td>
                <td width="120"colspan="2" align="center">
                    <p style ="padding-top: 9px;">被调查人职务</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${firedevice.surveytedPersonPosition}"></p>
                </td>

                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">填表日期</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${#dates.format(firedevice.fullFormTime,'yyyy-MM-dd')}"></p>
                </td>
                <td width="120"colspan="2" align="center">
                    <p style ="padding-top: 9px;">调查人</p>
                </td>
                <td colspan="3" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${firedevice.surveyPersonName}"></p>
                </td>
            </tr>
            <tr>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">序号</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >设备编号</p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">设备名称</p>
                </td>

                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">设备类型</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >采购时间</p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;">有效时间</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >品牌</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >安装位置</p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" >责任人</p>
                </td>

            </tr>
            <tr th:each="FiredeviceDO,userStat:${firedeviceList}">
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px; "th:text="${userStat.count}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${FiredeviceDO.equipmentCode}" ></p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${FiredeviceDO.equipmentName}"></p>
                </td>

                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${FiredeviceDO.equipmentType}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${#dates.format(FiredeviceDO.buyTime,'yyyy-MM-dd')}" ></p>
                </td>
                <td colspan="2" height="20" width="120" align="center">
                    <p style ="padding-top: 9px;"th:text="${#dates.format(FiredeviceDO.effectTime,'yyyy-MM-dd')}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${FiredeviceDO.brand}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${FiredeviceDO.installPosition}"></p>
                </td>
                <td  colspan="2" width="120" align="center">
                    <p style ="padding-top: 9px;" th:text="${FiredeviceDO.protectionPerson}"></p>
                </td>

            </tr>





        </table>
        <h6 id="showDate" align="left"></h6>
    </div>
</center>
</body>
</head>
</html>
