<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="trainingId" name="trainingId" th:value="${training.trainingId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">所属企业：</label>
								<div class="col-sm-8">
									<input id="enterpriseName" name="enterpriseName" th:value="${training.enterpriseName}" class="form-control" type="text" disabled>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">是否建立安全培训制度：</label>
								<div class="col-sm-8">
									<input id="trainingFlg" name="trainingFlg" th:value="${training.trainingFlg}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">是否为劳动者提供防护用品：</label>
								<div class="col-sm-8">
									<input id="laProvideFlg" name="laProvideFlg" th:value="${training.laProvideFlg}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">培训主题：</label>
								<div class="col-sm-8">
									<input id="trainName" name="trainName" th:value="${training.trainName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">培训类型：</label>
								<div class="col-sm-8">
									<input id="trainType" name="trainType" th:value="${training.trainType}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">参加人数：</label>
								<div class="col-sm-8">
									<input id="personNumber" name="personNumber" th:value="${training.personNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">参加部门：</label>
								<div class="col-sm-8">
									<input id="deptCode" name="deptCode" th:value="${training.deptCode}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">是否有资料：</label>
								<div class="col-sm-8">
									<input id="traningFileFlg" name="traningFileFlg" th:value="${training.traningFileFlg}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">联系电话：</label>
								<div class="col-sm-8">
									<input id="phoneNumber" name="phoneNumber" th:value="${training.phoneNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">培训时间：</label>
								<div class="col-sm-8">
									<input id="trainTime" name="trainTime" th:value="${training.trainTime}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonName" name="surveytedPersonName" th:value="${training.surveytedPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonPosition" name="surveytedPersonPosition" th:value="${training.surveytedPersonPosition}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="fullFormTime" name="fullFormTime" th:value="${training.fullFormTime}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="surveyPersonName" name="surveyPersonName" th:value="${training.surveyPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="administrativeDivision" name="administrativeDivision" th:value="${training.administrativeDivision}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">：</label>
								<div class="col-sm-8">
									<input id="urbanorrural" name="urbanorrural" th:value="${training.urbanorrural}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ecosys/training/edit.js">
	</script>
</body>
</html>
