<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="materialId" name="materialId" th:value="${material.materialId}"  type="hidden">
							<div class="form-group">
								<label class="col-sm-3 control-label">所属企业：</label>
								<div class="col-sm-8">
									<input id="enterpriseId" name="enterpriseId" th:value="${material.enterpriseId}" type="hidden">
									<input id="enterpriseId1" class="form-control" type="text" disabled th:value="${material.enterpriseName}">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">物料名称：</label>
								<div class="col-sm-8">
									<input id="materialName" name="materialName" th:value="${material.materialName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">	
								<label class="col-sm-3 control-label">物料类型：</label>
								<input id="materialType" th:value="${material.materialType}" class="form-control" type="hidden">
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" name="materialType" value="0" id="materialType0"/> 原材料</label>
									<label class="radio-inline"> <input type="radio" name="materialType" value="1" id="materialType1"/> 辅料</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">规格：</label>
								<div class="col-sm-8">
									<input id="specifical" name="specifical" th:value="${material.specifical}" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">进货渠道：</label>
								<div class="col-sm-8">
									<input id="orgionWay" name="orgionWay" th:value="${material.orgionWay}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">月使用量：</label>
								<div class="col-sm-8">
									<input id="monthConsumption" name="monthConsumption" th:value="${material.monthConsumption}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">有害有毒物质：</label>
								<div class="col-sm-8">
									<input id="dangerMaterial" name="dangerMaterial" th:value="${material.dangerMaterial}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">含量：</label>
								<div class="col-sm-8">
									<input id="content" name="content" th:value="${material.content}" class="form-control" type="text">
								</div>
							</div>
							<!--<div class="form-group">
								<label class="col-sm-3 control-label">备注：</label>
								<div class="col-sm-8">
									<input id="remark" name="remark" th:value="${material.remark}" class="form-control" type="text">
								</div>
							</div>-->
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人姓名：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonName" name="surveytedPersonName" th:value="${material.surveytedPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人职务：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonPosition" name="surveytedPersonPosition" th:value="${material.surveytedPersonPosition}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">填表日期：</label>
								<div class="col-sm-8">
									<input id="fullFormTime" name="fullFormTime" th:value="${#dates.format(material.fullFormTime,'yyyy-MM-dd')}" class="form-control" type="text" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">调查人：</label>
								<div class="col-sm-8">
									<input id="surveyPersonName" name="surveyPersonName" th:value="${material.surveyPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">行政区划：</label>
								<div class="col-sm-8">
									<input id="administrativeDivision" name="administrativeDivision" th:value="${material.administrativeDivision}" class="form-control" type="hidden">
									<input id="administrativeDivisionName" name="administrativeDivision" th:value="${material.administrativeDivisionName}" class="form-control" type="text" readonly>
									<input id="country" name="country" th:value="${material.country}" class="form-control" type="hidden">
									<input id="countryName" name="countryName" th:value="${material.countryName}" class="form-control" type="text" readonly style="margin-top: 15px">
								</div>
							</div>
							<!--<div class="form-group">
								<label class="col-sm-3 control-label">城乡分类：</label>
								<div class="col-sm-8">
									<input id="urbanorrural" name="urbanorrural" th:value="${material.urbanorrural}" class="form-control" type="text">
								</div>
							</div>-->
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ecosys/material/edit.js">
	</script>
</body>
</html>
