<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
							<div class="form-group">	
								<label class="col-sm-3 control-label">企业名称：</label>
								<div class="col-sm-8">
									<input id="enterpriseName" name="enterpriseName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">社会信用编码：</label>
								<div class="col-sm-8">
									<input id="socialCreditCode" name="socialCreditCode" class="form-control"  onpropertychange="OnPropChanged (event)"type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">注册地址：</label>
								<div class="col-sm-8">
									<input id="registeredAddress" name="registeredAddress" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">注册时间：</label>
								<div class='input-group date col-sm-8' id='datetimepicker1' style="width:480px">
									<input id="registeredTime" name="registeredTime" class="form-control" type="text" style="margin-left: 15px;">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar" style="margin-left: 15px;"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">注册资金：</label>
								<div class="col-sm-8">
									<input id="registeredFund" name="registeredFund" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">员工数：</label>
								<div class="col-sm-8">
									<input id="employeeNum" name="employeeNum" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">企业规模：</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" name="enterpriseScope" value="1" /> 大</label>
									<label class="radio-inline"> <input type="radio" name="enterpriseScope" value="2" /> 中</label>
									<label class="radio-inline"> <input type="radio" name="enterpriseScope" value="3" /> 小</label>
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">坐标位置：</label>
								<div class="col-sm-8">
									<input id="coordinates" name="coordinates" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">企业性质：</label>
								<div class="col-sm-8">
									<select class="selectpicker form-control" data-live-search="true" name="enterpriseNatureCode" id="enterpriseNatureCode">
									</select>
								</div>
							</div>





							<div class="form-group">
								<label class="col-sm-3 control-label">企业法人：</label>
								<div class="col-sm-8">
									<input id="enterpriseLegalPerson" name="enterpriseLegalPerson" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">法人电话：</label>
								<div class="col-sm-8">
									<input id="legalPersonPhoneNumber" name="legalPersonPhoneNumber" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">环保负责人：</label>
								<div class="col-sm-8">
									<input id="environmentalProtectionPerson" name="environmentalProtectionPerson" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">环保负责人电话：</label>
								<div class="col-sm-8">
									<input id="enPersonPhoneNumber" name="enPersonPhoneNumber" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">安全生产责任人：</label>
								<div class="col-sm-8">
									<input id="safeProdectPerson" name="safeProdectPerson" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">安全生产责任人电话：</label>
								<div class="col-sm-8">
									<input id="safePerPhoneNumber" name="safePerPhoneNumber" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">经营范围：</label>
								<div class="col-sm-8">
									<input id="businessScope" name="businessScope" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">经营面积：</label>
								<div class="col-sm-8">
									<input id="businessArea" name="businessArea" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">经营场所取得：</label>
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" name="businessAreaNatureCode" value="021" /> 自有</label>
									<label class="radio-inline"> <input type="radio" name="businessAreaNatureCode" value="022" /> 租赁</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">部门设置：</label>
								<div class="col-sm-8">
									<input id="dept" name="dept" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">纳税人性质：</label>
								<div class="col-sm-8">
									<select class="selectpicker form-control" data-live-search="true" name="taxpayerCode" id="taxpayerCode">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">互联网营销方式：</label>
								<div class="col-sm-8">
									<div id="marketCode" class="form-group"></div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人姓名：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonName" name="surveytedPersonName" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人职务：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonPosition" name="surveytedPersonPosition" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">填表日期：</label>
								<!--<div class="col-sm-8">
									<input id="fullFormTime" name="fullFormTime" class="form-control" type="text">
								</div>-->
								<div class='input-group date col-sm-8' id='datetimepicker2' style="width:480px" >
									<input id="fullFormTime" name="fullFormTime" class="form-control" type="text" style="margin-left: 15px;">
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar" style="margin-left: 15px;"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">调查人：</label>
								<div class="col-sm-8">
									<input id="surveyPersonName" name="surveyPersonName" class="form-control" type="text">
								</div>
							</div>

							<div class="form-group">
								<label class="col-sm-3 control-label">行政区划：</label>
								<div class="col-sm-8">
									<!--<input id="administrativeDivision" name="administrativeDivision" class="form-control" type="text">-->
									<!--<label>乡镇：</label>-->
									<select class="selectpicker form-control" data-live-search="true" name="administrativeDivision" id="administrativeDivision">
									</select>
									<!--<label>街道：</label>-->
									<select class="selectpicker form-control" data-live-search="true" name="country" id="country" style="margin-top: 15px">
									</select>
								</div>
							</div>


<!--							<div class="form-group">-->
<!--								<label class="col-sm-3 control-label">图片上传：</label>-->
<!--								<div class="col-sm-8">-->
<!--								<button type="button" class="layui-btn layui-btn-normal"-->
<!--										id="testList">选择多文件</button>-->
<!--&lt;!&ndash;									<button type="button" class="layui-btn" id="testListAction">开始上传</button>&ndash;&gt;-->
<!--								<div class="layui-upload-list">-->
<!--									<table class="layui-table">-->
<!--										<thead>-->
<!--										<tr>-->
<!--											<th>文件名</th>-->
<!--											<th>大小</th>-->
<!--											<th>状态</th>-->
<!--											<th>操作</th>-->
<!--										</tr>-->
<!--										</thead>-->
<!--										<tbody id="pictureList"></tbody>-->
<!--									</table>-->
<!--								</div>-->
<!--								</div>-->

<!--							</div>-->


							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button id="testListAction"  type="submit" class="btn btn-primary">提交</button>
									<button type="button" class="btn btn-danger"style="margin-left: 30px" onclick="cancalColse()">取消</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ecosys/enterprise/add.js"></script>
	<!--<script type="text/javascript" src="/js/jquery.min.js"></script>
	<script type="text/javascript" src="/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="/js/bootstrap-select.min.js"></script>
	<link href="/css/bootstrap-select.css" rel="stylesheet">
	<link href="/css/bootstrap-select.min.css" rel="stylesheet">-->
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="/css/layui.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/js/layui.js"></script>
	<script type="text/javascript">

		layui.use(['element','form','layedit','upload'], function () {
			var upload = layui.upload;
			var socialCreditCode = $("#socialCreditCode").val();

			$('#socialCreditCode').bind('input propertychange', function() {
				console.log($("#socialCreditCode").val())
				socialCreditCode = $("#socialCreditCode").val();
				var pictureListView = $('#pictureList')
						,uploadListIns = upload.render({
					elem: '#testList'
					,url: '/ecosys/uploadFile/upload?socialCreditCode='+socialCreditCode
					,accept: 'image/png,image/jpeg'
					,acceptMime: 'image/*'
					,multiple: true
					,auto: false
					,bindAction: '#testListAction'
					,choose: function(obj){
						var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
						//读取本地文件
						obj.preview(function(index, file, result){
							var tr = $(['<tr id="upload-'+ index +'" lay-verify="uploadReq" name="uploadtr">'
								,'<td>'+ file.name +'</td>'
								,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
								,'<td>等待上传</td>'
								,'<td>'
								,'<button type="button" class="btn btn-info btn-sm demo-reload">重传</button>'
								,'<button type="button" class="btn btn-danger btn-sm  demo-delete">删除</button>'
								,'</td>'
								,'</tr>'].join(''));

							//单个重传
							tr.find('.demo-reload').on('click', function(){
								obj.upload(index, file);
							});

							//删除
							tr.find('.demo-delete').on('click', function(){
								delete files[index]; //删除对应的文件
								tr.remove();
								uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
							});

							pictureListView.append(tr);
						});
					}
					,done: function(res, index, upload){
						if(res.code == 0){ //上传成功
							var url = res.data.value;
							var tr = pictureListView.find('tr#upload-'+ index)
									,tds = tr.children();
							tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
							tds.eq(3).html(''); //清空操作
							tds.eq(4).html("<a href='#' style='color: #5FB878' onclick=\"view('"+ res.data.value +"')\"  >"+ res.data.value +"</a>"); //url
							return delete this.files[index]; //删除文件队列已经上传成功的文件
						}
						this.error(index, upload);
					}
					,error: function(index, upload){
						var tr = pictureListView.find('tr#upload-'+ index)
								,tds = tr.children();
						tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
						tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
					}
				});
			});
			//多文件列表示例

		});
		$(function () {
			$('#datetimepicker1').datetimepicker({
				format: 'YYYY-MM-DD',
				locale: moment.locale('zh-cn')
			});
		});
		$(function () {
			$('#datetimepicker2').datetimepicker({
				format: 'YYYY-MM-DD',
				locale: moment.locale('zh-cn')
			});
		});
		$(function () {
			$('#datetimepicker3').datetimepicker({
				format: 'YYYY-MM-DD',
				locale: moment.locale('zh-cn')
			});
		});

	</script>





</body>
</html>
