<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
	<div class="wrapper wrapper-content ">
		<div class="row">
			<div class="col-sm-12">
				<div class="ibox float-e-margins">
					<div class="ibox-content">
						<form class="form-horizontal m-t" id="signupForm">
						<input id="enterpriseId" name="enterpriseId" th:value="${enterprise.enterpriseId}"  type="hidden">
							<div class="form-group">	
								<label class="col-sm-3 control-label">企业名称：</label>
								<div class="col-sm-8">
									<input id="enterpriseName" name="enterpriseName" th:value="${enterprise.enterpriseName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">社会信用编码：</label>
								<div class="col-sm-8">
									<input id="socialCreditCode" name="socialCreditCode" th:value="${enterprise.socialCreditCode}" class="form-control" type="text" readonly>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">注册地址：</label>
								<div class="col-sm-8">
									<input id="registeredAddress" name="registeredAddress" th:value="${enterprise.registeredAddress}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">注册时间：</label>
								<div class='input-group date col-sm-8' id='datetimepicker1' style="width:480px">
									<input id="registeredTime" name="registeredTime" th:value="${#dates.format(enterprise.registeredTime,'yyyy-MM-dd')}" class="form-control" type="text" style="margin-left: 15px;"readonly>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar" style="margin-left: 15px;"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">注册资金：</label>
								<div class="col-sm-8">
									<input id="registeredFund" name="registeredFund" th:value="${enterprise.registeredFund}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">员工数：</label>
								<div class="col-sm-8">
									<input id="employeeNum" name="employeeNum" th:value="${enterprise.employeeNum}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">企业规模：</label>
								<input id="enterpriseScope" th:value="${enterprise.enterpriseScope}" type="hidden" >
								<div class="col-sm-8">
									<label class="radio-inline"> <input type="radio" name="enterpriseScope" value="1" id="enterpriseScopeRadio1" /> 大</label>
									<label class="radio-inline"> <input type="radio" name="enterpriseScope" value="2" id="enterpriseScopeRadio2" /> 中</label>
									<label class="radio-inline"> <input type="radio" name="enterpriseScope" value="3" id="enterpriseScopeRadio3" /> 小</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">坐标位置：</label>
								<div class="col-sm-8">
									<input id="coordinates" name="coordinates" th:value="${enterprise.coordinates}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">企业性质：</label>
								<div class="col-sm-8">
									<input id="enterpriseNatureCode1" th:value="${enterprise.enterpriseNatureCode}" type="hidden">
									<select class="selectpicker form-control" data-live-search="true" name="enterpriseNatureCode" id="enterpriseNatureCode">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">企业法人：</label>
								<div class="col-sm-8">
									<input id="enterpriseLegalPerson" name="enterpriseLegalPerson" th:value="${enterprise.enterpriseLegalPerson}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">法人电话：</label>
								<div class="col-sm-8">
									<input id="legalPersonPhoneNumber" name="legalPersonPhoneNumber" th:value="${enterprise.legalPersonPhoneNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">环保负责人：</label>
								<div class="col-sm-8">
									<input id="environmentalProtectionPerson" name="environmentalProtectionPerson" th:value="${enterprise.environmentalProtectionPerson}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">环保负责人电话：</label>
								<div class="col-sm-8">
									<input id="enPersonPhoneNumber" name="enPersonPhoneNumber" th:value="${enterprise.enPersonPhoneNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">安全生产责任人：</label>
								<div class="col-sm-8">
									<input id="safeProdectPerson" name="safeProdectPerson" th:value="${enterprise.safeProdectPerson}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">安全生产责任人电话：</label>
								<div class="col-sm-8">
									<input id="safePerPhoneNumber" name="safePerPhoneNumber" th:value="${enterprise.safePerPhoneNumber}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">经营范围：</label>
								<div class="col-sm-8">
									<input id="businessScope" name="businessScope" th:value="${enterprise.businessScope}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">经营面积：</label>
								<div class="col-sm-8">
									<input id="businessArea" name="businessArea" th:value="${enterprise.businessArea}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">经营场所取得：</label>
								<div class="col-sm-8">
									<input id="businessAreaNatureCode" th:value="${enterprise.businessAreaNatureCode}" class="form-control" type="hidden">
									<label class="radio-inline"> <input type="radio" name="businessAreaNatureCode" value="021" id="businessAreaNatureCode021"/> 自有</label>
									<label class="radio-inline"> <input type="radio" name="businessAreaNatureCode" value="022" id="businessAreaNatureCode022"/> 租赁</label>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">部门设置：</label>
								<div class="col-sm-8">
									<input id="dept" name="dept" th:value="${enterprise.dept}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">纳税人性质：</label>
								<div class="col-sm-8">
									<input id="taxpayerCode1" th:value="${enterprise.taxpayerCode}" type="hidden">
									<select class="selectpicker form-control" data-live-search="true" name="taxpayerCode" id="taxpayerCode">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">互联网营销方式：</label>
								<div class="col-sm-8">
									<input id="marketCode1" th:value="${enterprise.marketCode}" type="hidden">
									<div class="col-sm-8">
										<div id="marketCode" class="form-group"></div>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人姓名：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonName" name="surveytedPersonName" th:value="${enterprise.surveytedPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">被调查人职务：</label>
								<div class="col-sm-8">
									<input id="surveytedPersonPosition" name="surveytedPersonPosition" th:value="${enterprise.surveytedPersonPosition}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">填表日期：</label>
								<div class='input-group date col-sm-8' id='datetimepicker2' style="width:480px">
									<input id="fullFormTime" name="fullFormTime" th:value="${#dates.format(enterprise.fullFormTime,'yyyy-MM-dd')}" class="form-control fullFormTime" type="text" style="margin-left: 15px;"readonly>
									<span class="input-group-addon">
										<span class="glyphicon glyphicon-calendar" style="margin-left: 15px;"></span>
									</span>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">调查人：</label>
								<div class="col-sm-8">
									<input id="surveyPersonName" name="surveyPersonName" th:value="${enterprise.surveyPersonName}" class="form-control" type="text">
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">行政区划：</label>
								<div class="col-sm-8">
									<input id="administrativeDivision" th:value="${enterprise.administrativeDivision}" class="form-control" type="hidden">
									<select class="selectpicker form-control" data-live-search="true" name="administrativeDivision" id="administrativeDivision1">
									</select>
								</div>
								<label class="col-sm-3 control-label"></label>
								<div class="col-sm-8" style="margin-top: 15px">
									<input id="country" th:value="${enterprise.country}" class="form-control" type="hidden">
									<select class="selectpicker form-control" data-live-search="true" name="country" id="country1">
									</select>
								</div>
							</div>
							<div class="form-group">
								<label class="col-sm-3 control-label">重新上传图片：</label>
								<div class="col-sm-8">
									<button type="button" class="layui-btn layui-btn-normal"
											id="testList">选择多文件</button>
									<button type="button" class="layui-btn" id="testListAction">开始上传</button>
									<div class="layui-upload-list">
										<table class="layui-table">
											<thead>
											<tr>

												<th style="text-align: center;">图片预览</th>
												<th>文件名</th>
												<th>状态</th>
												<th>大小</th>

												<th>操作</th>
											</tr>
											</thead>
											<tbody id="pictureList"></tbody>
										</table>
									</div>
								</div>

							</div>

							<!--<div class="form-group">
								<label class="col-sm-3 control-label">城乡分类：</label>
								<div class="col-sm-8">
									<input id="urbanorrural" name="urbanorrural" th:value="${enterprise.urbanorrural}" class="form-control" type="text">
								</div>
							</div>-->
							<div class="form-group">
								<div class="col-sm-8 col-sm-offset-3">
									<button type="submit" class="btn btn-primary">提交</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
	</div>
	</div>
	<div th:include="include::footer"></div>
	<script type="text/javascript" src="/js/appjs/ecosys/enterprise/edit.js"></script>
	<link href="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
	<link href="/css/layui.css" rel="stylesheet">
	<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script src="https://cdn.bootcss.com/moment.js/2.24.0/moment-with-locales.js"></script>
	<script src="https://cdn.bootcss.com/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>
	<script src="/js/layui.js"></script>
	<script type="text/javascript">

		layui.use(['element','form','layedit','upload'], function () {
			var upload = layui.upload;
			var socialCreditCode = $("#socialCreditCode").val();
				var pictureListView = $('#pictureList')
						,uploadListIns = upload.render({
					elem: '#testList'
					,url: '/ecosys/uploadFile/reupload?socialCreditCode='+socialCreditCode
					,accept: 'image/png,image/jpeg'
					,acceptMime: 'image/*'
					,multiple: true
					,auto: false
					,bindAction: '#testListAction'
					,choose: function(obj){
						var files = this.files = obj.pushFile(); //将每次选择的文件追加到文件队列
						//读取本地文件
						obj.preview(function(index, file, result){
							var tr = $(['<tr id="upload-'+ index +'" lay-verify="uploadReq" name="uploadtr">'
								, '<td><img src="' + result + '" alt="' + file.name + '" class="layui-upload-img" style="height: 66px;width:100px;"></td>'
								,'<td>'+ file.name +'</td>'
								,'<td>等待上传</td>'
								,'<td>'+ (file.size/1014).toFixed(1) +'kb</td>'
								,'<td>'
								,'<button type="button" class="btn btn-info btn-sm demo-reload">重传</button>'
								,'<button type="button" class="btn btn-danger btn-sm  demo-delete">删除</button>'
								,'</td>'
								,'</tr>'].join(''));

							//单个重传
							tr.find('.demo-reload').on('click', function(){
								obj.upload(index, file);
							});

							//删除
							tr.find('.demo-delete').on('click', function(){
								delete files[index]; //删除对应的文件
								tr.remove();
								uploadListIns.config.elem.next()[0].value = ''; //清空 input file 值，以免删除后出现同名文件不可选
							});

							pictureListView.append(tr);
						});
					}
					,done: function(res, index, upload){
						if(res.code == 0){ //上传成功
							console.log(res+"1111");
							var tr = pictureListView.find('tr#upload-'+ index)
									,tds = tr.children();
							tds.eq(2).html('<span style="color: #5FB878;">上传成功</span>');
							tds.eq(3).html(''); //清空操作
							return delete this.files[index]; //删除文件队列已经上传成功的文件
						}
						this.error(index, upload);
					}
					,error: function(index, upload){
						var tr = pictureListView.find('tr#upload-'+ index)
								,tds = tr.children();
						tds.eq(2).html('<span style="color: #FF5722;">上传失败</span>');
						tds.eq(3).find('.demo-reload').removeClass('layui-hide'); //显示重传
					}
				});

			//多文件列表示例

		});
		$(function () {
			$('#datetimepicker1').datetimepicker({
				format: 'YYYY-MM-DD',
				locale: moment.locale('zh-cn')
			});
		});
		$(function () {
			$('#datetimepicker2').datetimepicker({
				format: 'YYYY-MM-DD',
				locale: moment.locale('zh-cn')
			});
			/*$("#datetimepicker2").find("input").val(enterprise.fullFormTime);*/
		});
	</script>





</body>
</html>
